<ion-content padding>
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()" class="register-form">
      <mat-form-field class="register-full-width">
        <input matInput placeholder="First Name" formControlName="firstName">
      </mat-form-field>
          
      <mat-form-field class="register-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
      
      <mat-form-field class="register-full-width">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      
      <mat-form-field class="register-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
  
      <button type="submit" mat-raised-button color="primary" class="register-full-width" [disabled]="!registerForm.valid">Register</button>
    </form>
    <p>Already have an account? <span style="text-decoration: underline" (click)="loginRoute()">Login</span></p>
  </ion-content>
  